/* @import './index.css'; */

#dropdowns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0 70px 0;
}

#dropdowns input{
  padding: 0 0 0 20px;
  height: 69px;
  width: 100%;
  /* background-color: var(--blue); */
  border: none;
  color: var(--white);
  border-radius: 5px 5px 0 0;
}


#dropdowns input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  color: var(--white);
  font-size: 18px;
}

#dropdowns input::placeholder {
  color: var(--grey-light);
  font-size: 18px;
}

#dropdowns li{
  cursor: pointer;
  /* padding: 10px 5px ; */
}

#dropdowns li:hover {
  color: var(--white);
  background-color: var(--blue-hover);
}

.specific-search-bar-wrapper i{
  position: absolute;
  top: 25px;
  right: 20px;
  color: var(--white);
}

input.specific-search-bar.search-bar-utensils{
  background-color: var(--orange);
}
input.specific-search-bar.search-bar-utensils:focus{
  background-color: var(--orange);
}

input.specific-search-bar.search-bar-appliances{
  background-color: var(--green);
}
input.specific-search-bar.search-bar-appliances:focus{
  background-color: var(--green);
}

input.specific-search-bar.search-bar-ingredients{
  background-color: var(--blue);
}
input.specific-search-bar.search-bar-ingredients:focus{
  background-color: var(--blue);
}

.btn-search{
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: var(--white);
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.btn-search i{
  margin-left: 20px;
}

.btn-ingredients {
  background-color: var(--blue);
}
.btn-ingredients:hover {
  color: var(--white);
  background-color: var(--blue-hover);
}

.btn-appliances {
  background-color: var(--green);
}
.btn-appliances:hover {
  color: var(--white);
  background-color: var(--green-hover);
}

.btn-utensils {
  background-color: var(--orange);
}
.btn-utensils:hover {
  color: var(--white);
  background-color: var(--orange-hover);
}

.specific-search-bar-wrapper {
  display: none;
  position: relative;
  width: 600px;
  /* width: 100%; */
  font-weight: 400;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}

.fa-chevron-up {
  cursor: pointer;
}

.show{
  display: block;
}

.ingredients-search i{
  position: absolute;
  top: 25px;
  right: 20px;
  color: var(--white);
}

ul.ingredients-list {
  position: absolute;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 5px;
  margin: 0 0 10px 0;
  padding: 15px;
  width: 100%;
  background-color: var(--blue);
  border-radius: 0 0 5px 5px;
  overflow: scroll;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 200;
}

ul {
  text-decoration: none;
}


.specific-search-bar input {
  padding: 0 0 0 20px;
  height: 69px;
  width: 100%;
  background-color: var(--blue);
  border: none;
  color: var(--white);
  border-radius: 5px 5px 0 0;
}

.specific-search-bar input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: var(--blue);
  color: var(--white);
  font-size: 18px;
}

.specific-search-bar input::placeholder {
  color: var(--grey-light);
  font-size: 18px;
}

.specific-search-bar li{
  cursor: pointer;
  /* padding: 10px 5px ; */
}

.specific-search-bar li:hover {
  color: var(--white);
  background-color: var(--blue-hover);
}

.ingredients-item {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}
