/* @import './index.css'; */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  padding: 2rem 0 1rem 0;
}

header img {
  height: 100%;
}

.search-bar-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
}

#search-bar-common {
  /* margin-bottom: 20px; */
  height: 100%;
  width: 100%;
}

input#search-bar-common {
  padding: 0 20px;
  background-color: var(--grey-light);
  border-radius: 5px;
  border: none;
}

/* Remove x on focus on input elements */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input:focus {
  outline: none;
}

#search-bar::placeholder {
  color: var(--grey);
}

.fa-magnifying-glass {
  position: absolute;
  top: 15px;
  right: 22px;
  font-size: 32px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 0 0;
  padding: 5px 10px;
  color: var(--white);
  border-radius: 5px;
}
.tag-wrapper p {
  margin: 0 10px 0 0;
}
.ingredients-tag {
  background-color: var(--blue);
}
.appliance-tag {
  background-color: var(--green);
}
.utensils-tag {
  background-color: var(--orange);
}

.input-value-wrapper {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* height: 37px;
  width: auto; */
  margin: 20px 0 10px 0;
  padding: 10px;
  background-color: var(--blue);
  border-radius: 5px;
  font-weight: 700;
  color: var(--white);
}

.recipe-not-found {
  margin: 60px 0;
  width: 100%;
  text-align: center;
}

.active {
  display: flex;
}

.fa-circle-xmark:before {
  cursor: pointer;
  font-size: 20px;
}

#input-value {
  font-size: 14px;
}
